openapi: 3.0.3
info:
  title: weather.gov API
  description: OpenAPI Client SDK for National Weather Service API (NWS / weather.gov)
  version: 2.0.0
servers:
  - url: https://api.weather.gov
    description: Production server
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500 # 500 milliseconds
    maxInterval: 60000 # 60 seconds
    maxElapsedTime: 3600000 # 1 hour
    exponent: 1.5
  statusCodes:
    - 5XX
  retryConnectionErrors: true
tags:
  - name: alerts
    description: Operations related to alerts
  - name: aviation
    description: Operations related to aviation weather
  - name: glossary
    description: Operations related to the glossary
  - name: gridpoints
    description: Operations related to gridpoints (X,Y)
  - name: offices
    description: Operations related to offices
  - name: points
    description: Operations related to geographic points (lat,lon)
  - name: products
    description: Operations related to products
  - name: radar
    description: Operations related to radar stations
  - name: observationstations
    description: Operations related to observationstations
  - name: zones
    description: Operations related to zones
paths:
  /alerts/active:
    get:
      description: Returns all currently active alerts
      tags:
        - alerts
      operationId: list_active_alerts
      parameters:
        - $ref: "#/components/parameters/AlertStatus"
        - $ref: "#/components/parameters/AlertMessageType"
        - $ref: "#/components/parameters/AlertEventName"
        - $ref: "#/components/parameters/AlertCode"
        - $ref: "#/components/parameters/AlertArea"
        - $ref: "#/components/parameters/AlertPoint"
        - $ref: "#/components/parameters/AlertRegion"
        - $ref: "#/components/parameters/AlertRegionType"
        - $ref: "#/components/parameters/AlertZone"
        - $ref: "#/components/parameters/AlertUrgency"
        - $ref: "#/components/parameters/AlertSeverity"
        - $ref: "#/components/parameters/AlertCertainty"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          $ref: "#/components/responses/AlertCollection"
        default:
          $ref: "#/components/responses/Error"
  /alerts/active/count:
    get:
      description: Returns info on the number of active alerts
      tags:
        - alerts
      operationId: list_active_alert_counts
      responses:
        "200":
          description: A data structure showing the counts of active alerts broken down by various categories
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  total:
                    minimum: 0
                    type: integer
                    description: The total number of active alerts
                  land:
                    minimum: 0
                    type: integer
                    description: The total number of active alerts affecting land zones
                  marine:
                    minimum: 0
                    type: integer
                    description: The total number of active alerts affecting marine zones
                  regions:
                    type: object
                    description: Active alerts by marine region
                    additionalProperties:
                      minimum: 1
                      type: integer
                  areas:
                    type: object
                    description: Active alerts by area (state/territory)
                    additionalProperties:
                      minimum: 1
                      type: integer
                  zones:
                    type: object
                    description: Active alerts by NWS public zone or county code
                    additionalProperties:
                      minimum: 1
                      type: integer
        default:
          $ref: "#/components/responses/Error"
      parameters: []
  /alerts/active/zone/{zoneId}:
    get:
      description: Returns active alerts for the given NWS public zone or county
      tags:
        - alerts
      operationId: list_active_alerts_by_zone
      responses:
        "200":
          $ref: "#/components/responses/AlertCollection"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - $ref: "#/components/parameters/NWSZoneId"
  /alerts/active/area/{area}:
    get:
      description: Returns active alerts for the given area (state or marine area)
      tags:
        - alerts
      operationId: list_active_alerts_by_area
      parameters:
        - name: area
          in: path
          required: true
          description: State or marine area code
          style: simple # comma-delimited, default for path
          explode: false # default for path
          schema:
            type: string
            enum:
              # State/Territory codes
              - AL # Alabama
              - AK # Alaska
              - AS # American Samoa
              - AR # Arkansas
              - AZ # Arizona
              - CA # California
              - CO # Colorado
              - CT # Connecticut
              - DE # Delaware
              - DC # District of Columbia
              - FL # Florida
              - GA # Georgia
              - GU # Guam
              - HI # Hawaii
              - ID # Idaho
              - IL # Illinois
              - IN # Indiana
              - IA # Iowa
              - KS # Kansas
              - KY # Kentucky
              - LA # Louisiana
              - ME # Maine
              - MD # Maryland
              - MA # Massachusetts
              - MI # Michigan
              - MN # Minnesota
              - MS # Mississippi
              - MO # Missouri
              - MT # Montana
              - NE # Nebraska
              - NV # Nevada
              - NH # New Hampshire
              - NJ # New Jersey
              - NM # New Mexico
              - NY # New York
              - NC # North Carolina
              - ND # North Dakota
              - OH # Ohio
              - OK # Oklahoma
              - OR # Oregon
              - PA # Pennsylvania
              - PR # Puerto Rico
              - RI # Rhode Island
              - SC # South Carolina
              - SD # South Dakota
              - TN # Tennessee
              - TX # Texas
              - UT # Utah
              - VT # Vermont
              - VI # U.S. Virgin Islands
              - VA # Virginia
              - WA # Washington
              - WV # West Virginia
              - WI # Wisconsin
              - WY # Wyoming
              - MP # Northern Mariana Islands
              - PW # Palau
              - FM # Federated States of Micronesia
              - MH # Marshall Islands
              # Marine area codes
              - AM # Western Atlantic
              - AN # Atlantic – north
              - GM # Gulf of Mexico
              - LC # Lake St. Clair
              - LE # Lake Erie
              - LH # Lake Huron
              - LM # Lake Michigan
              - LO # Lake Ontario
              - LS # Lake Superior
              - PH # Central Pacific
              - PK # North Pacific – Alaska
              - PM # Western Pacific
              - PS # South Central Pacific
              - PZ # Eastern North Pacific
              - SL # St. Lawrence River
      responses:
        "200":
          $ref: "#/components/responses/AlertCollection"
        default:
          $ref: "#/components/responses/Error"

  /alerts/active/region/{region}:
    get:
      description: Returns active alerts for the given marine region
      tags:
        - alerts
      operationId: list_active_alerts_by_region
      responses:
        "200":
          $ref: "#/components/responses/AlertCollection"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - name: region
        in: path
        description: Marine region ID
        required: true
        schema:
          $ref: "#/components/schemas/MarineRegionCode"
  /alerts/types:
    get:
      description: Returns a list of alert types
      tags:
        - alerts
      operationId: list_alert_types
      responses:
        "200":
          description: A list of recognized event types
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  eventTypes:
                    type: array
                    items:
                      type: string
                    description: A list of recognized event types
        default:
          $ref: "#/components/responses/Error"
      parameters: []
  /alerts/{id}:
    get:
      description: Returns a specific alert
      tags:
        - alerts
      operationId: get_alert
      responses:
        "200":
          description: An alert record
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/AlertGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AlertJsonLd"
            application/cap+xml:
              schema:
                $ref: "#/components/schemas/AlertCap"
          x-url-content-negotiation-extensions:
            json: application/geo+json
            cap: application/cap+xml
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - name: id
        in: path
        description: Alert identifier
        required: true
        schema:
          $ref: "#/components/schemas/AlertId"
  /aviation/cwsus/{cwsuId}:
    get:
      description: Returns metadata about a Center Weather Service Unit
      operationId: get_cwsu
      tags:
        - aviation
      parameters:
        - $ref: "#/components/parameters/NWSCenterWeatherServiceUnitId"
      responses:
        "200":
          description: success
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/CenterWeatherServiceUnitJsonLd"
        default:
          $ref: "#/components/responses/Error"
  /aviation/cwsus/{cwsuId}/cwas:
    get:
      description: Returns a list of Center Weather Advisories from a CWSU
      operationId: list_cwas
      tags:
        - aviation
      parameters:
        - $ref: "#/components/parameters/NWSCenterWeatherServiceUnitId"
      responses:
        "200":
          description: success
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/CenterWeatherAdvisoryCollectionGeoJson"
        default:
          $ref: "#/components/responses/Error"
  /aviation/cwsus/{cwsuId}/cwas/{date}/{sequence}:
    get:
      description: Returns a list of Center Weather Advisories from a CWSU
      operationId: list_cwas_by_date_and_sequence
      tags:
        - aviation
      parameters:
        - $ref: "#/components/parameters/NWSCenterWeatherServiceUnitId"
        - $ref: "#/components/parameters/Date"
        - name: sequence
          in: path
          description: Sequence number
          required: true
          schema:
            minimum: 100
            type: integer
      responses:
        "200":
          description: success
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/CenterWeatherAdvisoryGeoJson"
            application/vnd.noaa.uswx+xml:
              schema: {}
        default:
          $ref: "#/components/responses/Error"
  /aviation/sigmets:
    get:
      description: Returns a list of SIGMET/AIRMETs
      operationId: list_sigmets
      tags:
        - aviation
      parameters:
        - $ref: "#/components/parameters/QueryStartTime"
        - $ref: "#/components/parameters/QueryEndTime"
        - $ref: "#/components/parameters/QueryDate"
        - name: atsu
          in: query
          description: ATSU identifier
          schema:
            $ref: "#/components/schemas/ATSUIdentifier"
        - name: sequence
          in: query
          description: SIGMET sequence number
          schema:
            $ref: "#/components/schemas/SigmetSequenceNumber"
      responses:
        "200":
          description: success
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/SigmetCollectionGeoJson"
        default:
          $ref: "#/components/responses/Error"
  /aviation/sigmets/{atsu}:
    get:
      description: Returns a list of SIGMET/AIRMETs for the specified ATSU
      operationId: list_sigmets_by_atsu
      tags:
        - aviation
      parameters:
        - $ref: "#/components/parameters/ATSUIdentifier"
      responses:
        "200":
          description: success
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/SigmetCollectionGeoJson"
        default:
          $ref: "#/components/responses/Error"
  /aviation/sigmets/{atsu}/{date}:
    get:
      description: Returns a list of SIGMET/AIRMETs for the specified ATSU for the specified date
      operationId: list_sigmets_by_atsu_and_date
      tags:
        - aviation
      parameters:
        - $ref: "#/components/parameters/ATSUIdentifier"
        - $ref: "#/components/parameters/Date"
      responses:
        "200":
          description: success
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/SigmetCollectionGeoJson"
        default:
          $ref: "#/components/responses/Error"
  /aviation/sigmets/{atsu}/{date}/{time}:
    get:
      description: Returns a specific SIGMET/AIRMET
      operationId: get_sigmet
      tags:
        - aviation
      parameters:
        - $ref: "#/components/parameters/ATSUIdentifier"
        - $ref: "#/components/parameters/Date"
        - $ref: "#/components/parameters/Time"
      responses:
        "200":
          description: success
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/SigmetGeoJson"
            application/vnd.noaa.uswx+xml:
              schema: {}
        default:
          $ref: "#/components/responses/Error"
  /glossary:
    get:
      description: Returns glossary terms
      operationId: list_terms
      tags:
        - glossary
      responses:
        "200":
          description: A set of glossary terms
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  "@context":
                    $ref: "#/components/schemas/JsonLdContext"
                  glossary:
                    type: array
                    items:
                      type: object
                      properties:
                        term:
                          type: string
                          description: The term being defined
                        definition:
                          type: string
                          description: A definition for the term
                    description: A list of glossary terms
        default:
          $ref: "#/components/responses/Error"
      parameters: []
  /gridpoints/{wfo}/{point}:
    get:
      description: Returns raw numerical forecast data for a 2.5km grid area
      operationId: get_gridpoint_raw_forecast
      tags:
        - gridpoints
      parameters: []
      responses:
        "200":
          description: Gridpoint forecast data
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/GridpointGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/GridpointJsonLd"
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - $ref: "#/components/parameters/GridpointWFO"
      - $ref: "#/components/parameters/GridpointPoint"
  /gridpoints/{wfo}/{point}/forecast:
    get:
      description: Returns a textual forecast for a 2.5km grid area
      operationId: get_gridpoint_forecast
      tags:
        - gridpoints
      parameters:
        - $ref: "#/components/parameters/GridpointForecastFeatureFlags"
        - $ref: "#/components/parameters/GridpointForecastUnits"
      responses:
        "200":
          $ref: "#/components/responses/GridpointForecast"
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - $ref: "#/components/parameters/GridpointWFO"
      - $ref: "#/components/parameters/GridpointPoint"

  /gridpoints/{wfo}/{point}/forecast/hourly:
    get:
      description: Returns a textual hourly forecast for a 2.5km grid area
      operationId: get_gridpoint_hourly_forecast
      tags:
        - gridpoints
      parameters:
        - $ref: "#/components/parameters/GridpointForecastFeatureFlags"
        - $ref: "#/components/parameters/GridpointForecastUnits"
      responses:
        "200":
          $ref: "#/components/responses/GridpointForecast"
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - $ref: "#/components/parameters/GridpointWFO"
      - $ref: "#/components/parameters/GridpointPoint"
  /gridpoints/{wfo}/{point}/stations:
    get:
      description: Returns a list of observation stations usable for a given 2.5km grid area
      operationId: list_observation_stations_by_gridpoint
      tags:
        - gridpoints
      responses:
        "200":
          $ref: "#/components/responses/ObservationStationCollection"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - $ref: "#/components/parameters/GridpointWFO"
      - $ref: "#/components/parameters/GridpointPoint"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/PaginationCursor"
  /stations/{stationId}/observations:
    get:
      description: Returns a list of observations for a given station
      operationId: list_observations_by_station
      tags:
        - observationstations
      parameters:
        - $ref: "#/components/parameters/QueryStartTime"
        - $ref: "#/components/parameters/QueryEndTime"
        - name: limit
          in: query
          description: Limit
          schema:
            maximum: 500
            minimum: 1
            type: integer
      responses:
        "200":
          $ref: "#/components/responses/ObservationCollection"
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - $ref: "#/components/parameters/ObservationStationId"
  /stations/{stationId}/observations/latest:
    get:
      description: Returns the latest observation for a station
      operationId: get_latest_observation_by_station
      tags:
        - observationstations
      parameters:
        - name: require_qc
          in: query
          description: Require QC
          schema:
            type: boolean
      responses:
        "200":
          $ref: "#/components/responses/Observation"
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - $ref: "#/components/parameters/ObservationStationId"
  /stations/{stationId}/observations/{time}:
    get:
      description: Returns a single observation.
      operationId: get_observation_by_station
      tags:
        - observationstations
      parameters:
        - name: time
          in: path
          description: Timestamp of requested observation
          required: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          $ref: "#/components/responses/Observation"
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - $ref: "#/components/parameters/ObservationStationId"
  /stations/{stationId}/tafs:
    get:
      description: Returns Terminal Aerodrome Forecasts for the specified airport station.
      operationId: list_tafs
      tags:
        - observationstations
      parameters:
        - $ref: "#/components/parameters/ObservationStationId"
      responses:
        "200":
          description: success
          content:
            application/ld+json:
              schema: {}
        default:
          $ref: "#/components/responses/Error"
  /stations/{stationId}/tafs/{date}/{time}:
    get:
      description: Returns a single Terminal Aerodrome Forecast.
      operationId: get_taf
      tags:
        - observationstations
      parameters:
        - $ref: "#/components/parameters/ObservationStationId"
        - $ref: "#/components/parameters/Date"
        - $ref: "#/components/parameters/Time"
      responses:
        "200":
          description: success
          content:
            application/vnd.wmo.iwxxm+xml:
              schema: {}
        default:
          $ref: "#/components/responses/Error"
  /stations:
    get:
      description: Returns a list of observation stations.
      operationId: list_observation_stations
      tags:
        - observationstations
      parameters:
        - name: id
          in: query
          description: Filter by observation station ID
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: state
          in: query
          description: Filter by state/marine area code
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AreaCode"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/PaginationCursor"
      responses:
        "200":
          $ref: "#/components/responses/ObservationStationCollection"
        default:
          $ref: "#/components/responses/Error"
  /stations/{stationId}:
    get:
      description: Returns metadata about a given observation station
      operationId: get_observation_station_metadata
      tags:
        - observationstations
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ObservationStationGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ObservationStationJsonLd"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - $ref: "#/components/parameters/ObservationStationId"
  /offices/{officeId}:
    get:
      description: Returns metadata about a NWS forecast office
      operationId: get_office_metadata
      tags:
        - offices
      parameters:
        - $ref: "#/components/parameters/NWSOfficeId"
      responses:
        "200":
          $ref: "#/components/responses/Error"
        default:
          $ref: "#/components/responses/Error"

  /offices/{officeId}/headlines/{headlineId}:
    get:
      description: Returns a specific news headline for a given NWS office
      operationId: get_office_headline
      tags:
        - offices
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/OfficeHeadline"
        default:
          $ref: "#/components/responses/Error"
      parameters:
        - $ref: "#/components/parameters/NWSOfficeId"
        - name: headlineId
          in: path
          required: true
          description: Headline record ID
          style: simple
          explode: false
          schema:
            type: string
  /offices/{officeId}/headlines:
    get:
      description: Returns a list of news headlines for a given NWS office
      operationId: list_office_headlines
      tags:
        - offices
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/OfficeHeadlineCollection"
        default:
          $ref: "#/components/responses/Error"
      parameters:
        - $ref: "#/components/parameters/NWSOfficeId"
  /points/{point}:
    get:
      description: Returns metadata about a given latitude/longitude point
      operationId: get_point_metadata
      tags:
        - points
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/PointGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/PointJsonLd"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - $ref: "#/components/parameters/PathPoint"
  /radar/servers:
    get:
      description: Returns a list of radar servers
      operationId: list_radar_servers
      tags:
        - radar
      parameters:
        - name: reportingHost
          in: query
          description: Show records from specific reporting host
          schema:
            type: string
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema: {}
        default:
          $ref: "#/components/responses/Error"
  /radar/servers/{id}:
    get:
      description: Returns metadata about a given radar server
      operationId: get_radar_server_metadata
      tags:
        - radar
      parameters:
        - name: reportingHost
          in: query
          description: Show records from specific reporting host
          schema:
            type: string
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema: {}
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - name: id
        in: path
        description: Server ID
        required: true
        schema:
          type: string
  /radar/stations:
    get:
      description: Returns a list of radar stations
      operationId: list_radar_stations
      tags:
        - radar
      parameters:
        - name: stationType
          in: query
          description: Limit results to a specific station type or types
          style: form
          explode: false
          schema:
            type: array
            items:
              pattern: ^[A-Za-z0-9-]+$
              type: string
        - name: reportingHost
          in: query
          description: Show RDA and latency info from specific reporting host
          schema:
            type: string
        - name: host
          in: query
          description: Show latency info from specific LDM host
          schema:
            type: string
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/geo+json:
              schema: {}
            application/ld+json:
              schema: {}
        default:
          $ref: "#/components/responses/Error"
  /radar/stations/{stationId}:
    get:
      description: Returns metadata about a given radar station
      operationId: get_radar_station_metadata
      tags:
        - radar
      parameters:
        - name: reportingHost
          in: query
          description: Show RDA and latency info from specific reporting host
          schema:
            type: string
        - name: host
          in: query
          description: Show latency info from specific LDM host
          schema:
            type: string
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/geo+json:
              schema: {}
            application/ld+json:
              schema: {}
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - name: stationId
        in: path
        description: Radar station ID
        required: true
        schema:
          type: string
  /radar/stations/{stationId}/alarms:
    get:
      description: Returns metadata about a given radar station alarms
      operationId: get_radar_station_alarms_metadata
      tags:
        - radar
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema: {}
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - name: stationId
        in: path
        description: Radar station ID
        required: true
        schema:
          type: string
  /radar/queues/{host}:
    get:
      description: Returns metadata about a given radar queue
      operationId: get_radar_queue_metadata
      tags:
        - radar
      parameters:
        - name: limit
          in: query
          description: Record limit
          schema:
            maximum: 500
            minimum: 1
            type: integer
        - name: arrived
          in: query
          description: Range for arrival time
          schema:
            $ref: "#/components/schemas/ISO8601Interval"
        - name: created
          in: query
          description: Range for creation time
          schema:
            $ref: "#/components/schemas/ISO8601Interval"
        - name: published
          in: query
          description: Range for publish time
          schema:
            $ref: "#/components/schemas/ISO8601Interval"
        - name: station
          in: query
          description: Station identifier
          schema:
            type: string
        - name: type
          in: query
          description: Record type
          schema:
            type: string
        - name: feed
          in: query
          description: Originating product feed
          schema:
            type: string
        - name: resolution
          in: query
          description: Resolution version
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema: {}
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - name: host
        in: path
        description: LDM host
        required: true
        schema:
          type: string
  /radar/profilers/{stationId}:
    get:
      description: Returns metadata about a given radar wind profiler
      operationId: get_radar_wind_profiler_metadata
      tags:
        - radar
      parameters:
        - name: time
          in: query
          description: Time interval
          schema:
            $ref: "#/components/schemas/ISO8601Interval"
        - name: interval
          in: query
          description: Averaging interval
          schema:
            $ref: "#/components/schemas/ISO8601Duration"
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema: {}
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - name: stationId
        in: path
        description: Profiler station ID
        required: true
        schema:
          type: string
  /products:
    get:
      description: Returns a list of text products
      operationId: list_products
      tags:
        - products
      parameters:
        - name: location
          in: query
          description: Location id
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: start
          in: query
          description: Start time
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          description: End time
          schema:
            type: string
            format: date-time
        - name: office
          in: query
          description: Issuing office
          style: form
          explode: false
          schema:
            type: array
            items:
              pattern: ^[A-Z]{4}$
              type: string
        - name: wmoid
          in: query
          description: WMO id code
          style: form
          explode: false
          schema:
            type: array
            items:
              pattern: ^[A-Z]{4}\d{2}$
              type: string
        - name: type
          in: query
          description: Product code
          style: form
          explode: false
          schema:
            type: array
            items:
              pattern: ^\w{3}$
              type: string
        - name: limit
          in: query
          description: Limit
          schema:
            maximum: 500
            minimum: 1
            type: integer
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductCollection"
        default:
          $ref: "#/components/responses/Error"
  /products/locations:
    get:
      description: Returns a list of valid text product issuance locations
      operationId: list_product_locations
      tags:
        - products
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductLocationCollection"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
  /products/types:
    get:
      description: Returns a list of valid text product types and codes
      operationId: list_product_types
      tags:
        - products
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductTypeCollection"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
  /products/{productId}:
    get:
      description: Returns a specific text product
      operationId: get_product_by_id
      tags:
        - products
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProduct"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - name: productId
        in: path
        description: .
        required: true
        schema:
          type: string
  /products/types/{typeId}:
    get:
      description: Returns a list of text products of a given type
      operationId: list_products_by_type
      tags:
        - products
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductCollection"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - name: typeId
        in: path
        description: .
        required: true
        schema:
          type: string
  /products/types/{typeId}/locations:
    get:
      description: Returns a list of valid text product issuance locations for a given product type
      operationId: list_locations_by_product_type
      tags:
        - products
      x-speakeasy-usage-example:
        title: Get Locations for a Text Product Type
        description: Get a list of locations that issue a particular forecast text product (like "AFD" for "Area Forecast Discussion")
        position: 2
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductLocationCollection"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - name: typeId
        in: path
        description: .
        required: true
        example: AFD
        schema:
          type: string
  /products/locations/{locationId}/types:
    get:
      description: Returns a list of valid text product types for a given issuance location
      operationId: list_product_types_by_location
      tags:
        - products
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductTypeCollection"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - name: locationId
        in: path
        description: .
        required: true
        schema:
          type: string
  /products/types/{typeId}/locations/{locationId}:
    get:
      description: Returns a list of text products of a given type for a given issuance location
      operationId: list_products_by_type_and_location
      tags:
        - products
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductCollection"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - name: typeId
        in: path
        description: .
        required: true
        schema:
          type: string
      - name: locationId
        in: path
        description: .
        required: true
        schema:
          type: string
  /zones:
    get:
      description: Returns a list of zones
      operationId: list_zones
      tags:
        - zones
      parameters:
        - name: id
          in: query
          description: Zone ID (forecast or county)
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/NWSZoneID"
        - name: area
          in: query
          description: State/marine area code
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AreaCode"
        - name: region
          in: query
          description: Region code
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/RegionCode"
        - name: type
          in: query
          description: Zone type
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/NWSZoneType"
        - name: point
          in: query
          description: Point (latitude,longitude)
          schema:
            $ref: "#/components/schemas/PointString"
        - name: include_geometry
          in: query
          description: Include geometry in results (true/false)
          schema:
            type: boolean
        - name: limit
          in: query
          description: Limit
          schema:
            minimum: 1
            type: integer
        - name: effective
          in: query
          description: Effective date/time
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ZoneCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ZoneCollectionJsonLd"
        default:
          $ref: "#/components/responses/Error"
  /zones/{type}:
    get:
      description: Returns a list of zones of a given type
      operationId: list_zones_by_type
      tags:
        - zones
      parameters:
        - name: id
          in: query
          description: Zone ID (forecast or county)
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/NWSZoneID"
        - name: area
          in: query
          description: State/marine area code
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AreaCode"
        - name: region
          in: query
          description: Region code
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/RegionCode"
        - name: type
          in: query
          description: Zone type
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/NWSZoneType"
        - name: point
          in: query
          description: Point (latitude,longitude)
          schema:
            $ref: "#/components/schemas/PointString"
        - name: include_geometry
          in: query
          description: Include geometry in results (true/false)
          schema:
            type: boolean
        - name: limit
          in: query
          description: Limit
          schema:
            minimum: 1
            type: integer
        - name: effective
          in: query
          description: Effective date/time
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ZoneCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ZoneCollectionJsonLd"
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - name: type
        in: path
        description: Zone type
        required: true
        schema:
          $ref: "#/components/schemas/NWSZoneType"
  /zones/{type}/{zoneId}:
    get:
      description: Returns metadata about a given zone
      operationId: get_zone_metadata
      tags:
        - zones
      parameters:
        - name: effective
          in: query
          description: Effective date/time
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ZoneGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ZoneJsonLd"
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - name: type
        in: path
        description: Zone type
        required: true
        schema:
          $ref: "#/components/schemas/NWSZoneType"
      - $ref: "#/components/parameters/NWSZoneId"
  /zones/{type}/{zoneId}/forecast:
    get:
      description: Returns the current zone forecast for a given zone
      operationId: get_zone_forecast
      tags:
        - zones
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ZoneForecastGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ZoneForecastJsonLd"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - name: type
        in: path
        description: Zone type
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/NWSZoneId"
  /zones/forecast/{zoneId}/observations:
    get:
      description: Returns a list of observations for a given zone
      operationId: list_observations_by_zone
      tags:
        - zones
      parameters:
        - name: start
          in: query
          description: Start date/time
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          description: End date/time
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: Limit
          schema:
            maximum: 500
            minimum: 1
            type: integer
      responses:
        "200":
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ObservationCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ObservationCollectionJsonLd"
        default:
          $ref: "#/components/responses/Error"
    parameters:
      - $ref: "#/components/parameters/NWSZoneId"
  /zones/forecast/{zoneId}/stations:
    get:
      description: Returns a list of observation stations for a given zone
      operationId: list_observation_stations_by_zone
      tags:
        - zones
      responses:
        "200":
          $ref: "#/components/responses/ObservationStationCollection"
        default:
          $ref: "#/components/responses/Error"
      parameters: []
    parameters:
      - $ref: "#/components/parameters/NWSZoneId"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/PaginationCursor"
components:
  schemas:
    Alert:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/AlertId"
        areaDesc:
          type: string
          description: A textual description of the area affected by the alert.
        geocode:
          type: object
          properties:
            UGC:
              type: array
              items:
                $ref: "#/components/schemas/NWSZoneID"
              description: A list of NWS public zone or county identifiers.
            SAME:
              type: array
              items:
                pattern: ^\d{6}$
                type: string
              description: A list of SAME (Specific Area Message Encoding) codes for affected counties.
          description: Lists of codes for NWS public zones and counties affected by the alert.
        affectedZones:
          type: array
          items:
            type: string
            format: uri
          description: |
            An array of API links for zones affected by the alert. This is an API-specific extension field and is not part of the CAP specification.
        references:
          type: array
          items:
            type: object
            properties:
              "@id":
                type: string
                description: An API link to the prior alert.
                format: uri
              identifier:
                $ref: "#/components/schemas/AlertId"
              sender:
                type: string
                description: The sender of the prior alert.
              sent:
                type: string
                description: The time the prior alert was sent.
                format: date-time
          description: A list of prior alerts that this alert updates or replaces.
        sent:
          type: string
          description: The time of the origination of the alert message.
          format: date-time
        effective:
          type: string
          description: The effective time of the information of the alert message.
          format: date-time
        onset:
          type: string
          description: The expected time of the beginning of the subject event of the alert message.
          format: date-time
          nullable: true
        expires:
          type: string
          description: The expiry time of the information of the alert message.
          format: date-time
        ends:
          type: string
          description: The expected end time of the subject event of the alert message.
          format: date-time
          nullable: true
        status:
          $ref: "#/components/schemas/AlertStatus"
        messageType:
          $ref: "#/components/schemas/AlertMessageType"
        category:
          enum:
            - Met
            - Geo
            - Safety
            - Security
            - Rescue
            - Fire
            - Health
            - Env
            - Transport
            - Infra
            - CBRNE
            - Other
          type: string
          description: The code denoting the category of the subject event of the alert message.
        severity:
          $ref: "#/components/schemas/AlertSeverity"
        certainty:
          $ref: "#/components/schemas/AlertCertainty"
        urgency:
          $ref: "#/components/schemas/AlertUrgency"
        event:
          type: string
          description: The text denoting the type of the subject event of the alert message.
        sender:
          type: string
          description: Email address of the NWS webmaster.
        senderName:
          type: string
          description: The text naming the originator of the alert message.
        headline:
          type: string
          description: The text headline of the alert message.
          nullable: true
        description:
          type: string
          description: The text describing the subject event of the alert message.
        instruction:
          type: string
          description: |
            The text describing the recommended action to be taken by recipients of the alert message.
          nullable: true
        response:
          enum:
            - Shelter
            - Evacuate
            - Prepare
            - Execute
            - Avoid
            - Monitor
            - Assess
            - AllClear
            - None
          type: string
          description: |
            The code denoting the type of action recommended for the target audience.
            This corresponds to responseType in the CAP specification.
        parameters:
          type: object
          description: |
            System-specific additional parameters associated with the alert message.
            The keys in this object correspond to parameter definitions in the NWS CAP specification.
          additionalProperties:
            type: array
            items: {}
      description: |
        An object representing a public alert message.
        Unless otherwise noted, the fields in this object correspond to the National Weather Service CAP v1.2 specification, which extends the OASIS Common Alerting Protocol (CAP) v1.2 specification and USA Integrated Public Alert and Warning System (IPAWS) Profile v1.0. Refer to this documentation for more complete information.
        http://docs.oasis-open.org/emergency/cap/v1.2/CAP-v1.2-os.html http://docs.oasis-open.org/emergency/cap/v1.2/ipaws-profile/v1.0/cs01/cap-v1.2-ipaws-profile-cs01.html https://alerts.weather.gov/#technical-notes-v12
    AlertCollection:
      type: object
      properties:
        title:
          type: string
          description: A title describing the alert collection
        updated:
          type: string
          description: The last time a change occurred to this collection
          format: date-time
        pagination:
          $ref: "#/components/schemas/PaginationInfo"
    AlertCollectionGeoJson:
      allOf:
        - $ref: "#/components/schemas/GeoJsonFeatureCollection"
        - type: object
          properties:
            features:
              type: array
              items:
                type: object
                properties:
                  properties:
                    $ref: "#/components/schemas/Alert"
        - $ref: "#/components/schemas/AlertCollection"
    AlertCollectionJsonLd:
      allOf:
        - $ref: "#/components/schemas/AlertCollection"
        - type: object
          properties:
            "@context":
              $ref: "#/components/schemas/JsonLdContext"
            "@graph":
              type: array
              items:
                $ref: "#/components/schemas/Alert"
    AlertCap:
      type: object
    AlertGeoJson:
      allOf:
        - $ref: "#/components/schemas/GeoJsonFeature"
        - type: object
          properties:
            properties:
              $ref: "#/components/schemas/Alert"
    AlertJsonLd:
      type: object
      properties:
        "@graph":
          type: array
          items:
            $ref: "#/components/schemas/Alert"
    AlertId:
      type: string
      description: The identifier of the alert message.
    AlertCertainty:
      enum:
        - Observed
        - Likely
        - Possible
        - Unlikely
        - Unknown
      type: string
    AlertMessageType:
      enum:
        - Alert
        - Update
        - Cancel
        - Ack
        - Error
      type: string
    AlertSeverity:
      enum:
        - Extreme
        - Severe
        - Moderate
        - Minor
        - Unknown
      type: string
    AlertStatus:
      enum:
        - Actual
        - Exercise
        - System
        - Test
        - Draft
      type: string
    AlertUrgency:
      enum:
        - Immediate
        - Expected
        - Future
        - Past
        - Unknown
      type: string
    AlertAtomEntry:
      type: object
      properties:
        id:
          type: string
          xml:
            namespace: http://www.w3.org/2005/Atom
        updated:
          type: string
          xml:
            namespace: http://www.w3.org/2005/Atom
        published:
          type: string
          xml:
            namespace: http://www.w3.org/2005/Atom
        author:
          type: object
          properties:
            name:
              type: string
          xml:
            namespace: http://www.w3.org/2005/Atom
        summary:
          type: string
          xml:
            namespace: http://www.w3.org/2005/Atom
        event:
          type: string
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        sent:
          type: string
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        effective:
          type: string
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        expires:
          type: string
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        status:
          type: string
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        msgType:
          type: string
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        category:
          type: string
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        urgency:
          type: string
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        severity:
          type: string
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        certainty:
          type: string
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        areaDesc:
          type: string
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        polygon:
          type: string
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        geocode:
          type: array
          items:
            $ref: "#/components/schemas/AlertXMLParameter"
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
        parameter:
          type: array
          items:
            $ref: "#/components/schemas/AlertXMLParameter"
          xml:
            namespace: urn:oasis:names:tc:emergency:cap:1.2
      description: An alert entry in an Atom feed
      xml:
        name: entry
        namespace: http://www.w3.org/2005/Atom
    AlertXMLParameter:
      type: object
      properties:
        valueName:
          type: string
        value:
          type: string
    AlertAtomFeed:
      type: object
      properties:
        id:
          type: string
          xml:
            namespace: http://www.w3.org/2005/Atom
        generator:
          type: string
          xml:
            namespace: http://www.w3.org/2005/Atom
        updated:
          type: string
          xml:
            namespace: http://www.w3.org/2005/Atom
        author:
          type: object
          properties:
            name:
              type: string
              xml:
                namespace: http://www.w3.org/2005/Atom
          xml:
            namespace: http://www.w3.org/2005/Atom
        title:
          type: string
          xml:
            namespace: http://www.w3.org/2005/Atom
        entry:
          type: array
          items:
            $ref: "#/components/schemas/AlertAtomEntry"
          xml:
            namespace: http://www.w3.org/2005/Atom
      description: An alert feed in Atom format
      xml:
        name: feed
        namespace: http://www.w3.org/2005/Atom
    AreaCode:
      description: |
        State, territory, and marine area codes.

        Marine area code as defined in NWS Directive 10-302:
        * AM: Western North Atlantic Ocean and along U.S. East Coast south of Currituck Beach Light NC following the coastline into Gulf of Mexico to Ocean Reef FL including the Caribbean
        * AN: Western North Atlantic Ocean and along U.S. East Coast from Canadian border south to Currituck Beach Light NC
        * GM: Gulf of Mexico and along the U.S. Gulf Coast from the Mexican border to Ocean Reef FL
        * LC: Lake St. Clair
        * LE: Lake Erie
        * LH: Lake Huron
        * LM: Lake Michigan
        * LO: Lake Ontario
        * LS: Lake Superior
        * PH: Central Pacific Ocean including Hawaiian waters
        * PK: North Pacific Ocean near Alaska and along Alaska coastline including the Bering Sea and the Gulf of Alaska
        * PM: Western Pacific Ocean including Mariana Island waters
        * PS: South Central Pacific Ocean including American Samoa waters
        * PZ: Eastern North Pacific Ocean and along U.S. West Coast from Canadian border to Mexican border
        * SL: St. Lawrence River above St. Regis

      type: string
      enum:
        - AL
        - AK
        - AS
        - AR
        - AZ
        - CA
        - CO
        - CT
        - DE
        - DC
        - FL
        - GA
        - GU
        - HI
        - ID
        - IL
        - IN
        - IA
        - KS
        - KY
        - LA
        - ME
        - MD
        - MA
        - MI
        - MN
        - MS
        - MO
        - MT
        - NE
        - NV
        - NH
        - NJ
        - NM
        - NY
        - NC
        - ND
        - OH
        - OK
        - OR
        - PA
        - PR
        - RI
        - SC
        - SD
        - TN
        - TX
        - UT
        - VT
        - VI
        - VA
        - WA
        - WV
        - WI
        - WY
        - MP
        - PW
        - FM
        - MH
        - AM
        - AN
        - GM
        - LC
        - LE
        - LH
        - LM
        - LO
        - LS
        - PH
        - PK
        - PM
        - PS
        - PZ
        - SL
    ATSUIdentifier:
      pattern: ^[A-Z]{3,4}$
      type: string
      description: ATSU Identifier
    CenterWeatherAdvisoryCollectionGeoJson:
      allOf:
        - $ref: "#/components/schemas/GeoJsonFeatureCollection"
        - type: object
          properties:
            features:
              type: array
              items:
                type: object
                properties:
                  properties:
                    $ref: "#/components/schemas/CenterWeatherAdvisory"
    CenterWeatherAdvisoryGeoJson:
      allOf:
        - $ref: "#/components/schemas/GeoJsonFeature"
        - type: object
          properties:
            properties:
              $ref: "#/components/schemas/CenterWeatherAdvisory"
    CenterWeatherAdvisory:
      type: object
      properties:
        id:
          type: string
        issueTime:
          type: string
          format: date-time
        cwsu:
          $ref: "#/components/schemas/NWSCenterWeatherServiceUnitId"
        sequence:
          minimum: 101
          type: integer
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        observedProperty:
          type: string
        text:
          type: string
      additionalProperties: false
    CenterWeatherServiceUnitJsonLd:
      $ref: "#/components/schemas/Office"
    Date:
      type: string
      description: Date (in YYYY-MM-DD format).
      format: date
    GeometryString:
      type: string
      description: A geometry represented in Well-Known Text (WKT) format.
      format: wkt
      nullable: true
    GeoJsonBoundingBox:
      minItems: 4
      type: array
      items:
        type: number
      description: A GeoJSON bounding box. Please refer to IETF RFC 7946 for information on the GeoJSON format.
    GeoJsonCoordinate:
      minItems: 2
      type: array
      items:
        type: number
      description: A GeoJSON coordinate. Please refer to IETF RFC 7946 for information on the GeoJSON format.
    GeoJsonGeometry:
      oneOf:
        - title: GeoJSON Point
          required:
            - type
            - coordinates
          type: object
          properties:
            type:
              enum:
                - Point
              type: string
            coordinates:
              $ref: "#/components/schemas/GeoJsonCoordinate"
            bbox:
              $ref: "#/components/schemas/GeoJsonBoundingBox"
        - title: GeoJSON LineString
          required:
            - type
            - coordinates
          type: object
          properties:
            type:
              enum:
                - LineString
              type: string
            coordinates:
              $ref: "#/components/schemas/GeoJsonLineString"
            bbox:
              $ref: "#/components/schemas/GeoJsonBoundingBox"
        - title: GeoJSON Polygon
          required:
            - type
            - coordinates
          type: object
          properties:
            type:
              enum:
                - Polygon
              type: string
            coordinates:
              $ref: "#/components/schemas/GeoJsonPolygon"
            bbox:
              $ref: "#/components/schemas/GeoJsonBoundingBox"
        - title: GeoJSON MultiPoint
          required:
            - type
            - coordinates
          type: object
          properties:
            type:
              enum:
                - MultiPoint
              type: string
            coordinates:
              type: array
              items:
                $ref: "#/components/schemas/GeoJsonCoordinate"
            bbox:
              $ref: "#/components/schemas/GeoJsonBoundingBox"
        - title: GeoJSON MultiLineString
          required:
            - type
            - coordinates
          type: object
          properties:
            type:
              enum:
                - MultiLineString
              type: string
            coordinates:
              type: array
              items:
                $ref: "#/components/schemas/GeoJsonLineString"
            bbox:
              $ref: "#/components/schemas/GeoJsonBoundingBox"
        - title: GeoJSON MultiPolygon
          required:
            - type
            - coordinates
          type: object
          properties:
            type:
              enum:
                - MultiPolygon
              type: string
            coordinates:
              type: array
              items:
                $ref: "#/components/schemas/GeoJsonPolygon"
            bbox:
              $ref: "#/components/schemas/GeoJsonBoundingBox"
      description: A GeoJSON geometry object. Please refer to IETF RFC 7946 for information on the GeoJSON format.
      nullable: true
    GeoJsonFeature:
      required:
        - type
        - geometry
        - properties
      type: object
      properties:
        "@context":
          $ref: "#/components/schemas/JsonLdContext"
        id:
          type: string
          format: uri
        type:
          enum:
            - Feature
          type: string
        geometry:
          $ref: "#/components/schemas/GeoJsonGeometry"
        properties:
          type: object
      description: A GeoJSON feature. Please refer to IETF RFC 7946 for information on the GeoJSON format.
      additionalProperties: false
    GeoJsonFeatureCollection:
      required:
        - type
        - features
      type: object
      properties:
        "@context":
          $ref: "#/components/schemas/JsonLdContext"
        type:
          enum:
            - FeatureCollection
          type: string
        features:
          type: array
          items:
            $ref: "#/components/schemas/GeoJsonFeature"
      description: A GeoJSON feature collection. Please refer to IETF RFC 7946 for information on the GeoJSON format.
    GeoJsonLineString:
      minItems: 2
      type: array
      items:
        $ref: "#/components/schemas/GeoJsonCoordinate"
      description: A GeoJSON line string. Please refer to IETF RFC 7946 for information on the GeoJSON format.
    GeoJsonPolygon:
      type: array
      items:
        minItems: 4
        type: array
        items:
          $ref: "#/components/schemas/GeoJsonCoordinate"
      description: A GeoJSON polygon. Please refer to IETF RFC 7946 for information on the GeoJSON format.
    Gridpoint:
      type: object
      properties:
        "@context":
          $ref: "#/components/schemas/JsonLdContext"
        geometry:
          $ref: "#/components/schemas/GeometryString"
        "@id":
          type: string
          format: uri
        "@type":
          enum:
            - wx:Gridpoint
          type: string
        updateTime:
          type: string
          format: date-time
        validTimes:
          $ref: "#/components/schemas/ISO8601Interval"
        elevation:
          $ref: "#/components/schemas/QuantitativeValue"
        forecastOffice:
          type: string
          format: uri
        gridId:
          type: string
        gridX:
          minimum: 0
          type: integer
        gridY:
          minimum: 0
          type: integer
        weather:
          required:
            - values
          type: object
          properties:
            values:
              type: array
              items:
                required:
                  - validTime
                  - value
                type: object
                properties:
                  validTime:
                    $ref: "#/components/schemas/ISO8601Interval"
                  value:
                    type: array
                    items:
                      required:
                        - coverage
                        - weather
                        - intensity
                        - visibility
                        - attributes
                      type: object
                      properties:
                        coverage:
                          enum:
                            - null
                            - areas
                            - brief
                            - chance
                            - definite
                            - few
                            - frequent
                            - intermittent
                            - isolated
                            - likely
                            - numerous
                            - occasional
                            - patchy
                            - periods
                            - scattered
                            - slight_chance
                            - widespread
                          type: string
                          nullable: true
                        weather:
                          enum:
                            - null
                            - blowing_dust
                            - blowing_sand
                            - blowing_snow
                            - drizzle
                            - fog
                            - freezing_fog
                            - freezing_drizzle
                            - freezing_rain
                            - freezing_spray
                            - frost
                            - hail
                            - haze
                            - ice_crystals
                            - ice_fog
                            - rain
                            - rain_showers
                            - sleet
                            - smoke
                            - snow
                            - snow_showers
                            - thunderstorms
                            - volcanic_ash
                            - water_spouts
                          type: string
                          nullable: true
                        intensity:
                          enum:
                            - null
                            - very_light
                            - light
                            - moderate
                            - heavy
                          type: string
                          nullable: true
                        visibility:
                          $ref: "#/components/schemas/QuantitativeValue"
                        attributes:
                          type: array
                          items:
                            enum:
                              - damaging_wind
                              - dry_thunderstorms
                              - flooding
                              - gusty_wind
                              - heavy_rain
                              - large_hail
                              - small_hail
                              - tornadoes
                            type: string
                      description: A value object representing expected weather phenomena.
                      additionalProperties: false
                additionalProperties: false
        hazards:
          required:
            - values
          type: object
          properties:
            values:
              type: array
              items:
                required:
                  - validTime
                  - value
                type: object
                properties:
                  validTime:
                    $ref: "#/components/schemas/ISO8601Interval"
                  value:
                    type: array
                    items:
                      required:
                        - phenomenon
                        - significance
                        - event_number
                      type: object
                      properties:
                        phenomenon:
                          pattern: ^\w{2}$
                          type: string
                          description: |
                            Hazard code. This value will correspond to a P-VTEC phenomenon code as defined in NWS Directive 10-1703.
                        significance:
                          pattern: ^\w$
                          type: string
                          description: |
                            Significance code. This value will correspond to a P-VTEC significance code as defined in NWS Directive 10-1703.
                            This will most frequently be "A" for a watch or "Y" for an advisory.
                        event_number:
                          type: integer
                          description: |
                            Event number. If this hazard refers to a national or regional center product (such as a Storm Prediction Center convective watch), this value will be the sequence number of that product.
                          nullable: true
                      description: A value object representing an expected hazard.
                additionalProperties: false
      description: |
        Raw forecast data for a 2.5km grid square.
        This is a list of all potential data layers that may appear. Some layers may not be present in all areas.
        * temperature
        * dewpoint
        * maxTemperature
        * minTemperature
        * relativeHumidity
        * apparentTemperature
        * heatIndex
        * windChill
        * wetBulbGlobeTemperature
        * skyCover
        * windDirection
        * windSpeed
        * windGust
        * weather
        * hazards: Watch and advisory products in effect
        * probabilityOfPrecipitation
        * quantitativePrecipitation
        * iceAccumulation
        * snowfallAmount
        * snowLevel
        * ceilingHeight
        * visibility
        * transportWindSpeed
        * transportWindDirection
        * mixingHeight
        * hainesIndex
        * lightningActivityLevel
        * twentyFootWindSpeed
        * twentyFootWindDirection
        * waveHeight
        * wavePeriod
        * waveDirection
        * primarySwellHeight
        * primarySwellDirection
        * secondarySwellHeight
        * secondarySwellDirection
        * wavePeriod2
        * windWaveHeight
        * dispersionIndex
        * pressure: Barometric pressure
        * probabilityOfTropicalStormWinds
        * probabilityOfHurricaneWinds
        * potentialOf15mphWinds
        * potentialOf25mphWinds
        * potentialOf35mphWinds
        * potentialOf45mphWinds
        * potentialOf20mphWindGusts
        * potentialOf30mphWindGusts
        * potentialOf40mphWindGusts
        * potentialOf50mphWindGusts
        * potentialOf60mphWindGusts
        * grasslandFireDangerIndex
        * probabilityOfThunder
        * davisStabilityIndex
        * atmosphericDispersionIndex
        * lowVisibilityOccurrenceRiskIndex
        * stability
        * redFlagThreatIndex
      additionalProperties:
        $ref: "#/components/schemas/GridpointQuantitativeValueLayer"
    GridpointQuantitativeValueLayer:
      required:
        - values
      type: object
      properties:
        uom:
          $ref: "#/components/schemas/UnitOfMeasure"
        values:
          type: array
          items:
            required:
              - validTime
              - value
            type: object
            properties:
              validTime:
                $ref: "#/components/schemas/ISO8601Interval"
              value:
                type: number
                nullable: true
            additionalProperties: false
      description: |
        A gridpoint layer consisting of quantitative values (numeric values with associated units of measure).
    GridpointGeoJson:
      allOf:
        - $ref: "#/components/schemas/GeoJsonFeature"
        - type: object
          properties:
            properties:
              $ref: "#/components/schemas/Gridpoint"
    GridpointJsonLd:
      $ref: "#/components/schemas/Gridpoint"
    GridpointForecast:
      type: object
      properties:
        "@context":
          $ref: "#/components/schemas/JsonLdContext"
        geometry:
          $ref: "#/components/schemas/GeometryString"
        units:
          $ref: "#/components/schemas/GridpointForecastUnits"
        forecastGenerator:
          type: string
          description: The internal generator class used to create the forecast text (used for NWS debugging).
        generatedAt:
          type: string
          description: The time this forecast data was generated.
          format: date-time
        updateTime:
          type: string
          description: The last update time of the data this forecast was generated from.
          format: date-time
        validTimes:
          $ref: "#/components/schemas/ISO8601Interval"
        elevation:
          $ref: "#/components/schemas/QuantitativeValue"
        periods:
          type: array
          items:
            $ref: "#/components/schemas/GridpointForecastPeriod"
          description: An array of forecast periods.
      description: A multi-day forecast for a 2.5km grid square.
      additionalProperties: false
    GridpointForecastPeriod:
      type: object
      properties:
        number:
          minimum: 1
          type: integer
          description: Sequential period number.
        name:
          type: string
          description: |
            A textual identifier for the period. This value will not be present for hourly forecasts.
          example: Tuesday Night
        startTime:
          type: string
          description: The starting time that this forecast period is valid for.
          format: date-time
        endTime:
          type: string
          description: The ending time that this forecast period is valid for.
          format: date-time
        isDaytime:
          type: boolean
          description: Indicates whether this period is daytime or nighttime.
        temperature:
          oneOf:
            - $ref: "#/components/schemas/QuantitativeValue"
            - type: integer
          description: |
            High/low temperature for the period, depending on whether the period is day or night.
            This property as an integer value is deprecated. Future versions will express this value as a quantitative value object. To make use of the future standard format now, set the "forecast_temperature_qv" feature flag on the request.
        temperatureUnit:
          enum:
            - F
            - C
          type: string
          description: |
            The unit of the temperature value (Fahrenheit or Celsius).
            This property is deprecated. Future versions will indicate the unit within the quantitative value object for the temperature property. To make use of the future standard format now, set the "forecast_temperature_qv" feature flag on the request.
          deprecated: true
        temperatureTrend:
          enum:
            - null
            - rising
            - falling
          type: string
          description: |
            If not null, indicates a non-diurnal temperature trend for the period (either rising temperature overnight, or falling temperature during the day)
          nullable: true
        probabilityOfPrecipitation:
          $ref: "#/components/schemas/QuantitativeValue"
        dewpoint:
          $ref: "#/components/schemas/QuantitativeValue"
        relativeHumidity:
          $ref: "#/components/schemas/QuantitativeValue"
        windSpeed:
          oneOf:
            - $ref: "#/components/schemas/QuantitativeValue"
            - type: string
          description: |
            Wind speed for the period.
            This property as an string value is deprecated. Future versions will express this value as a quantitative value object. To make use of the future standard format now, set the "forecast_wind_speed_qv" feature flag on the request.
        windGust:
          oneOf:
            - $ref: "#/components/schemas/QuantitativeValue"
            - type: string
          description: |
            Peak wind gust for the period.
            This property as an string value is deprecated. Future versions will express this value as a quantitative value object. To make use of the future standard format now, set the "forecast_wind_speed_qv" feature flag on the request.
          nullable: true
        windDirection:
          enum:
            - "N"
            - NNE
            - NE
            - ENE
            - E
            - ESE
            - SE
            - SSE
            - S
            - SSW
            - SW
            - WSW
            - W
            - WNW
            - NW
            - NNW
          type: string
          description: The prevailing direction of the wind for the period, using a 16-point compass.
        icon:
          type: string
          description: A link to an icon representing the forecast summary.
          format: uri
          deprecated: true
        shortForecast:
          type: string
          description: A brief textual forecast summary for the period.
        detailedForecast:
          type: string
          description: A detailed textual forecast for the period.
      description: |
        An object containing forecast information for a specific time period (generally 12-hour or 1-hour).
      additionalProperties: false
    GridpointForecastUnits:
      enum:
        - us
        - si
      type: string
      description: Denotes the units used in the textual portions of the forecast.
      default: us
    GridpointForecastGeoJson:
      allOf:
        - $ref: "#/components/schemas/GeoJsonFeature"
        - type: object
          properties:
            properties:
              $ref: "#/components/schemas/GridpointForecast"
    GridpointForecastJsonLd:
      allOf:
        - $ref: "#/components/schemas/GridpointForecast"
        - required:
            - "@context"
            - geometry
          type: object
          properties:
            "@context":
              $ref: "#/components/schemas/JsonLdContext"
            geometry:
              $ref: "#/components/schemas/GeometryString"
    ISO8601Duration:
      pattern: ^P(\d+Y)?(\d+M)?(\d+D)?(T(\d+H)?(\d+M)?(\d+S)?)?$
      type: string
      description: A time duration in ISO 8601 format.
      example: P2DT12H
    ISO8601Interval:
      oneOf:
        - pattern: ^(\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z|[+-]\d{2}:?\d{2}?)|NOW)\/(\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z|[+-]\d{2}:?\d{2}?)|NOW)$
          type: string
          example: 2007-03-01T13:00:00Z/2008-05-11T15:30:00Z
        - pattern: ^(\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z|[+-]\d{2}:?\d{2}?)|NOW)\/P(\d+Y)?(\d+M)?(\d+D)?(T(\d+H)?(\d+M)?(\d+S)?)?$
          type: string
          example: 2007-03-01T13:00:00Z/P1Y2M10DT2H30M
        - pattern: ^P(\d+Y)?(\d+M)?(\d+D)?(T(\d+H)?(\d+M)?(\d+S)?)?\/(\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z|[+-]\d{2}:?\d{2}?)|NOW)$
          type: string
          example: P1Y2M10DT2H30M/2008-05-11T15:30:00Z
      description: |
        A time interval in ISO 8601 format. This can be one of:

            1. Start and end time
            2. Start time and duration
            3. Duration and end time
        The string "NOW" can also be used in place of a start/end time.
    JsonLdContext:
      anyOf:
        - type: array
          items: {}
        - type: object
    LandRegionCode:
      enum:
        - AR
        - CR
        - ER
        - PR
        - SR
        - WR
      type: string
      description: |
        Land region code. These correspond to the six NWS regional headquarters:
        * AR: Alaska Region
        * CR: Central Region
        * ER: Eastern Region
        * PR: Pacific Region
        * SR: Southern Region
        * WR: Western Region
    MarineRegionCode:
      enum:
        - AL
        - AT
        - GL
        - GM
        - PA
        - PI
      type: string
      description: |
        Marine region code. These are groups of marine areas combined.
        * AL: Alaska waters (PK)
        * AT: Atlantic Ocean (AM, AN)
        * GL: Great Lakes (LC, LE, LH, LM, LO, LS, SL)
        * GM: Gulf of Mexico (GM)
        * PA: Eastern Pacific Ocean and U.S. West Coast (PZ)
        * PI: Central and Western Pacific (PH, PM, PS)
    MetarPhenomenon:
      required:
        - intensity
        - modifier
        - weather
        - rawString
      type: object
      properties:
        intensity:
          enum:
            - null
            - light
            - heavy
          type: string
          nullable: true
        modifier:
          enum:
            - null
            - patches
            - blowing
            - low_drifting
            - freezing
            - shallow
            - partial
            - showers
          type: string
          nullable: true
        weather:
          enum:
            - fog_mist
            - dust_storm
            - dust
            - drizzle
            - funnel_cloud
            - fog
            - smoke
            - hail
            - snow_pellets
            - haze
            - ice_crystals
            - ice_pellets
            - dust_whirls
            - spray
            - rain
            - sand
            - snow_grains
            - snow
            - squalls
            - sand_storm
            - thunderstorms
            - unknown
            - volcanic_ash
          type: string
        rawString:
          type: string
        inVicinity:
          type: boolean
      description: An object representing a decoded METAR phenomenon string.
      additionalProperties: false
    MetarSkyCoverage:
      enum:
        - OVC
        - BKN
        - SCT
        - FEW
        - SKC
        - CLR
        - VV
      type: string
    NWSCenterWeatherServiceUnitId:
      enum:
        - ZAB
        - ZAN
        - ZAU
        - ZBW
        - ZDC
        - ZDV
        - ZFA
        - ZFW
        - ZHU
        - ZID
        - ZJX
        - ZKC
        - ZLA
        - ZLC
        - ZMA
        - ZME
        - ZMP
        - ZNY
        - ZOA
        - ZOB
        - ZSE
        - ZTL
      type: string
      description: Three-letter identifier for a Center Weather Service Unit (CWSU).
    NWSForecastOfficeId:
      description: Three-letter identifier for a NWS office.
      type: string
      enum:
        - AKQ
        - ALY
        - BGM
        - BOX
        - BTV
        - BUF
        - CAE
        - CAR
        - CHS
        - CLE
        - CTP
        - GSP
        - GYX
        - ILM
        - ILN
        - LWX
        - MHX
        - OKX
        - PBZ
        - PHI
        - RAH
        - RLX
        - RNK
        - ABQ
        - AMA
        - BMX
        - BRO
        - CRP
        - EPZ
        - EWX
        - FFC
        - FWD
        - HGX
        - HUN
        - JAN
        - JAX
        - KEY
        - LCH
        - LIX
        - LUB
        - LZK
        - MAF
        - MEG
        - MFL
        - MLB
        - MOB
        - MRX
        - OHX
        - OUN
        - SHV
        - SJT
        - SJU
        - TAE
        - TBW
        - TSA
        - ABR
        - APX
        - ARX
        - BIS
        - BOU
        - CYS
        - DDC
        - DLH
        - DMX
        - DTX
        - DVN
        - EAX
        - FGF
        - FSD
        - GID
        - GJT
        - GLD
        - GRB
        - GRR
        - ICT
        - ILX
        - IND
        - IWX
        - JKL
        - LBF
        - LMK
        - LOT
        - LSX
        - MKX
        - MPX
        - MQT
        - OAX
        - PAH
        - PUB
        - RIW
        - SGF
        - TOP
        - UNR
        - BOI
        - BYZ
        - EKA
        - FGZ
        - GGW
        - HNX
        - LKN
        - LOX
        - MFR
        - MSO
        - MTR
        - OTX
        - PDT
        - PIH
        - PQR
        - PSR
        - REV
        - SEW
        - SGX
        - SLC
        - STO
        - TFX
        - TWC
        - VEF
        - AER
        - AFC
        - AFG
        - AJK
        - ALU
        - GUM
        - HPA
        - HFO
        - PPG
        - STU
        - NH1
        - NH2
        - ONA
        - ONP
    NWSOfficeId:
      description: Three-letter identifier for a NWS office, regional HQ, or national HQ.
      type: string
      enum:
        - AKQ
        - ALY
        - BGM
        - BOX
        - BTV
        - BUF
        - CAE
        - CAR
        - CHS
        - CLE
        - CTP
        - GSP
        - GYX
        - ILM
        - ILN
        - LWX
        - MHX
        - OKX
        - PBZ
        - PHI
        - RAH
        - RLX
        - RNK
        - ABQ
        - AMA
        - BMX
        - BRO
        - CRP
        - EPZ
        - EWX
        - FFC
        - FWD
        - HGX
        - HUN
        - JAN
        - JAX
        - KEY
        - LCH
        - LIX
        - LUB
        - LZK
        - MAF
        - MEG
        - MFL
        - MLB
        - MOB
        - MRX
        - OHX
        - OUN
        - SHV
        - SJT
        - SJU
        - TAE
        - TBW
        - TSA
        - ABR
        - APX
        - ARX
        - BIS
        - BOU
        - CYS
        - DDC
        - DLH
        - DMX
        - DTX
        - DVN
        - EAX
        - FGF
        - FSD
        - GID
        - GJT
        - GLD
        - GRB
        - GRR
        - ICT
        - ILX
        - IND
        - IWX
        - JKL
        - LBF
        - LMK
        - LOT
        - LSX
        - MKX
        - MPX
        - MQT
        - OAX
        - PAH
        - PUB
        - RIW
        - SGF
        - TOP
        - UNR
        - BOI
        - BYZ
        - EKA
        - FGZ
        - GGW
        - HNX
        - LKN
        - LOX
        - MFR
        - MSO
        - MTR
        - OTX
        - PDT
        - PIH
        - PQR
        - PSR
        - REV
        - SEW
        - SGX
        - SLC
        - STO
        - TFX
        - TWC
        - VEF
        - AER
        - AFC
        - AFG
        - AJK
        - ALU
        - GUM
        - HPA
        - HFO
        - PPG
        - STU
        - NH1
        - NH2
        - ONA
        - ONP
        - ARH
        - CRH
        - ERH
        - PRH
        - SRH
        - WRH
        - NWS
    NWSZoneID:
      pattern: ^(A[KLMNRSZ]|C[AOT]|D[CE]|F[LM]|G[AMU]|I[ADLN]|K[SY]|L[ACEHMOS]|M[ADEHINOPST]|N[CDEHJMVY]|O[HKR]|P[AHKMRSWZ]|S[CDL]|T[NX]|UT|V[AIT]|W[AIVY]|[HR]I)[CZ]\d{3}$
      type: string
      description: |
        UGC identifier for a NWS forecast zone or county.
        The first two letters will correspond to either a state code or marine area code (see #/components/schemas/AreaCode for lists of valid letter combinations).
        The third letter will be Z for public/fire zone or C for county.
    NWSZoneType:
      enum:
        - land
        - marine
        - forecast
        - public
        - coastal
        - offshore
        - fire
        - county
      type: string
    Observation:
      type: object
      properties:
        "@context":
          $ref: "#/components/schemas/JsonLdContext"
        geometry:
          $ref: "#/components/schemas/GeometryString"
        "@id":
          type: string
          format: uri
        "@type":
          enum:
            - wx:ObservationStation
          type: string
        elevation:
          $ref: "#/components/schemas/QuantitativeValue"
        station:
          type: string
          format: uri
        timestamp:
          type: string
          format: date-time
        rawMessage:
          type: string
        textDescription:
          type: string
        icon:
          type: string
          format: uri
          nullable: true
          deprecated: true
        presentWeather:
          type: array
          items:
            $ref: "#/components/schemas/MetarPhenomenon"
        temperature:
          $ref: "#/components/schemas/QuantitativeValue"
        dewpoint:
          $ref: "#/components/schemas/QuantitativeValue"
        windDirection:
          $ref: "#/components/schemas/QuantitativeValue"
        windSpeed:
          $ref: "#/components/schemas/QuantitativeValue"
        windGust:
          $ref: "#/components/schemas/QuantitativeValue"
        barometricPressure:
          $ref: "#/components/schemas/QuantitativeValue"
        seaLevelPressure:
          $ref: "#/components/schemas/QuantitativeValue"
        visibility:
          $ref: "#/components/schemas/QuantitativeValue"
        maxTemperatureLast24Hours:
          $ref: "#/components/schemas/QuantitativeValue"
        minTemperatureLast24Hours:
          $ref: "#/components/schemas/QuantitativeValue"
        precipitationLastHour:
          $ref: "#/components/schemas/QuantitativeValue"
        precipitationLast3Hours:
          $ref: "#/components/schemas/QuantitativeValue"
        precipitationLast6Hours:
          $ref: "#/components/schemas/QuantitativeValue"
        relativeHumidity:
          $ref: "#/components/schemas/QuantitativeValue"
        windChill:
          $ref: "#/components/schemas/QuantitativeValue"
        heatIndex:
          $ref: "#/components/schemas/QuantitativeValue"
        cloudLayers:
          type: array
[...]
